@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,700,400,600,300,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Clash Grotesk", sans-serif;
  color: white;
  background-color: #181818;
}
