.link-text {
  font-family: "Clash Grotesk", sans-serif;
  text-transform: uppercase;
}

.trademark-text {
  font-family: "Clash Grotesk", sans-serif;
}

/* Navbar style */

.nav_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav_logo_wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
}

@media (max-width: 900px) {
  .nav_ul {
    position: absolute;
    flex-direction: column;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -1000px;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .nav_ul.active {
    left: 0px;
    opacity: 1;
  }
}

.nav_li {
  font-size: 14px;
  font-weight: 600;
  font-family: "Clash Grotesk", sans-serif;
}

.logo_wrapper {
  width: 220px;
  border-right: 1.5px solid #ffffff;
}

@media (max-width: 900px) {
  .nav_li {
    list-style: none;
  }

  .logo_wrapper {
    border-right: 0px;
  }
}

.btn_wrapper button {
  font-family: "Clash Grotesk", sans-serif;
}
