.blog_bg {
  background-image: url("../../public/Blog_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
}

@media (max-width: 600px) {
  .blog_bg {
    width: 100%;
  }
}

.blog_img {
  height: 500px;
  width: 100%;
  object-fit: scale-down;
}
