.about_bg {
  background-image: url("../../public/about_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
}

@media (max-width: 600px) {
  .about_bg {
    width: 100%;
  }
}

.active_tab {
  background: #ff931e;
  width: 158px;
  height: 54px;
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
