.about_bg {
  background-image: url("../../public/about_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
}

@media (max-width: 600px) {
  .about_bg {
    width: 100%;
  }
}
